<div>
	<div id="artTitle" class="mb-4"></div>
	<div id="commentsTextArea" class="mb-4">
		<textarea maxlength=255 placeholder="Enter your comments here" rows="5" cols="55" autofocus></textarea>
		<span><span id="textcount">255</span>&nbsp;characters left.</span>
		<br><br>
		<span id="errorCnt" class='dispHide'><i> Please provide a comment.</i></span>
	</div>
	<div class="my-4 font-weight-bold">COMMENTS:</div>
	<div id="commentsDiv" class="mt-2"></div>
</div>